target/
!.mvn/wrapper/maven-wrapper.jar

### Donot commit logs ###
logs/
monolith/db-data/
web-app/node_modules/
web-app/dist/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr